<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Football app{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo/football-logo-16x16.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <a href="#" class="logo"><img src="{{ asset('images/logo/football-logo-64x64.png') }}" alt="home"/></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"><img src="{{ asset('images/icons/diagram.svg') }}" alt="menu"/></a>
                </li>
            </ul>
        </nav>
        <div id="content" class="p-4 p-md-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse"
                            class="btn btn-primary">
                        <img src="{{ asset('images/icons/menu.svg') }}" alt="menu"/>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto"
                            type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </nav>
        </div>
    </div>
    {% block body %}{% endblock %}
    </body>
</html>
